<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    {% if role == 'giaovien' %}
        <a href="{{ url_for('teacher_profile', username=username) }}">Trở về trang chính</a>
    {% elif role == 'hocvien' %}
        <a href="{{ url_for('student_profile', username=username) }}">Trở về trang chính</a>
    {% endif %}
    <form id="changePasswordForm" method="post">
        <input type="hidden" name="role" value="{{ role }}">
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>
        <input type="checkbox" id="show_password" onclick="togglePasswordVisibility()"> Show Password
        <br>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <br>
        <input type="submit" value="Change Password">
    </form>

    <script>
        function togglePasswordVisibility() {
            var newPasswordInput = document.getElementById('new_password');
            var confirmPasswordInput = document.getElementById('confirm_password');
            var showPasswordCheckbox = document.getElementById('show_password');

            if (showPasswordCheckbox.checked) {
                newPasswordInput.type = 'text';
                confirmPasswordInput.type = 'text';
            } else {
                newPasswordInput.type = 'password';
                confirmPasswordInput.type = 'password';
            }
        }

        var changePasswordForm = document.getElementById('changePasswordForm');
        changePasswordForm.onsubmit = function () {
            var newPasswordInput = document.getElementById('new_password');
            var confirmPasswordInput = document.getElementById('confirm_password');

            if (newPasswordInput.value !== confirmPasswordInput.value) {
                alert('Password confirmation does not match!');
                return false;
            }
        };
    </script>
</body>
</html>
