<!DOCTYPE html>
<html>
<head>
    <title>Playlist Details</title>
</head>
<body>
    <h1>{{ playlist.name }}</h1>
    <h2>Giáo viên: {{ playlist.teacher.name }}</h2>
    <ul>
        {% for video in playlist.videos %}
            <li>
                <video width="320" height="240" controls>
                    <source src="{{ video.video_url }}" type="video/mp4">
                    <!-- Thông báo nếu trình duyệt không hỗ trợ video -->
                    Your browser does not support the video tag.
                </video>
                <p>{{ video.title }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
