<!DOCTYPE html>
<html>
    <head>
        <title></title>
    <body>
        <h1>{{ playlist.name }}</h1>
        {% for video in playlist.videos %}
            <video width="320" height="240" controls>
                <source src="{{ video.video_url }}" type="video/mp4">
                <!-- Thông báo nếu trình duyệt không hỗ trợ video -->
                Your browser does not support the video tag.
            </video>
            <p>{{ video.title }} - {{ video.teacher_name }} - {{ playlist.name }}</p>
            <p>Decription {{video.description}}</p>
        {% endfor %}
        
    </body>
</html>